.idea/
.cmake/
cmake-build-debug/
CMakeFiles/
generated/
pico-sdk/
pioasm/
pioasm-install/
Testing/
cmake_install.cmake
CMakeCache.txt
CopyOfCMakeCache.txt
Makefile
pico_flash_region.ld
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
Doxyfile.docs
doxygen/*
tools/**/_deps/

*.a
*.o
*.elf
*.bin
*.hex
*.map
*.uf2
*.dis
compile_commands.json