name: Test build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: sudo apt install -y python3 git tar build-essential
    - name: Checkout Pico SDK
      run: git clone https://github.com/raspberrypi/pico-sdk.git
    - name: Set Pico SDK Environment Variable
      run: echo "PICO_SDK_PATH=$(pwd)/pico-sdk" >> $GITHUB_ENV
    - uses: actions/checkout@v4
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}


